@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
/* ## Colors */
--Very_Dark_Grayish_Blue: hsl(217, 19%, 35%);
--Desaturated_Dark_Blue: hsl(214, 17%, 51%);
--Grayish_Blue: hsl(212, 23%, 69%);
--Light_Grayish_Blue: hsl(210, 46%, 95%);

/* Widths */
--container-width: 320px;
--section_preview_main_width: 258px;

/* Heights */
--footer_height: 75px;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.preview-container {
    width: var(--container-width);
    background-color: var(--Light_Grayish_Blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 5rem 0 3rem;
    box-shadow: 0px 20px 50px -10px var(--Grayish_Blue);
}

.preview-container header {
    position: relative;
    height: 190px;
    width: 100%;
    overflow: hidden;
}

.preview-container header img {
    width: var(--container-width);
    position: absolute;
    top: -20px;
}

.preview-container header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

section#preview-main {
    width: var(--section_preview_main_width);
    margin-bottom: 20px;
}

section#preview-main h1.heading {
    color: var(--Very_Dark_Grayish_Blue);
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.1rem;
}

section#preview-main p.description {
    color: var(--Grayish_Blue);

}

/* Footer */
div.preview-container footer {
    width: 100%;
    height: var(--footer_height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.preview-container footer .author {
    width: var(--section_preview_main_width);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.author .avatar img {
    width: 45px;
    border-radius: 50%;
}

.author .details {
    flex-grow: 1;
    margin-left: 20px;
}
.details h2 {
    font-size: 13px;
    color: var(--Very_Dark_Grayish_Blue);
}
.details h3 {
    font-size: 13px;
    color: var(--Grayish_Blue);
}

.author .share-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.share {
    background-color: var(--Very_Dark_Grayish_Blue);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: var(--container-width);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.share .options {
    width: var(--section_preview_main_width);
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.share .options .share-text p {
    color: var(--Grayish_Blue);
    text-transform: uppercase;
    letter-spacing: 4px;
}

.share .options .share-icons {
    flex-grow: 1;
    margin-left: 20px;
}

.share-icons img {
    margin-right: 15px;
}

.share .options .share-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--Desaturated_Dark_Blue);
}


footer#main {
    padding: 10px 0;
}

footer .attribution { font-size: 11px; text-align: center; }
footer .attribution a { color: hsl(228, 45%, 44%); }